//$infoCardBackgroundColor: green;

.modal {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 100;
  background-color: rgb(238, 255, 0);
}
